body {
  margin:0px;
  background-color:rgba(62, 37, 103, 1);
  background-image:url('../../images/мои_достижения/bg.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1280px 720px;
  background-origin:border-box;
  position:relative;
  left:-216px;
  width:1284px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1284px;
  height:726px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Tahoma Обычный", "Tahoma", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:0px;
  width:1284px;
  height:726px;
  display:flex;
  opacity:0.27;
  font-family:"Tahoma Обычный", "Tahoma", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1284px;
  height:46px;
  background:inherit;
  background-color:rgba(33, 44, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#22EFEF;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:0px;
  width:1284px;
  height:46px;
  display:flex;
  color:#22EFEF;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:11px;
  width:82px;
  height:23px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u34 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u34.mouseOver {
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:572px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Tahoma Обычный", "Tahoma", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:77px;
  width:395px;
  height:572px;
  display:flex;
  opacity:0.27;
  font-family:"Tahoma Обычный", "Tahoma", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:572px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Tahoma Обычный", "Tahoma", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:77px;
  width:395px;
  height:572px;
  display:flex;
  opacity:0.27;
  font-family:"Tahoma Обычный", "Tahoma", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:572px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Tahoma Обычный", "Tahoma", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:77px;
  width:395px;
  height:572px;
  display:flex;
  opacity:0.27;
  font-family:"Tahoma Обычный", "Tahoma", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:43px;
  color:#FFFFFF;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:95px;
  width:340px;
  height:54px;
  display:flex;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:43px;
  color:#FFFFFF;
}
#u38 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:43px;
  color:#FFFFFF;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:95px;
  width:340px;
  height:54px;
  display:flex;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:43px;
  color:#FFFFFF;
}
#u39 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:43px;
  color:#FFFFFF;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:95px;
  width:340px;
  height:54px;
  display:flex;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:43px;
  color:#FFFFFF;
}
#u40 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:184px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:167px;
  width:328px;
  height:184px;
  display:flex;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:184px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:167px;
  width:327px;
  height:184px;
  display:flex;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:189px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:167px;
  width:181px;
  height:189px;
  display:flex;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:381px;
  width:326px;
  height:150px;
  display:flex;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u44 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:381px;
  width:326px;
  height:243px;
  display:flex;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u45 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:381px;
  width:326px;
  height:268px;
  display:flex;
  font-family:"Source Sans Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u46 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
